.hero {
    padding-bottom: 334px;
    &__list {
        display: grid;
        grid-template-columns: 307px 307px 307px 307px;
        grid-gap: 30px;
        align-items: center;
        margin: 0;
        padding: 0;
        list-style: none;
    }
    &__item {
        position: relative;
        padding: 30px 30px 37px;
        text-align: center;
        border-radius: 20px;
        border: 2px solid #000;
        background-color: #fff;
    }
    &__img {
        margin-bottom: 90px;
        width: 157px;
        height: 157px;
    }
    &__line {
        position: absolute;
        margin: 0;
        top: 255px;
        left: 0;
        width: 100%;
        height: 2px;
        color: #000;
        background-color: #000;
    }
    &__content {
        display: flex;
        justify-content: space-between;
        margin-bottom: 25px;
        text-align: left;
    }
    &__name {
        margin: 0;
        margin-bottom: 5px;
        font-size: 24px;
        font-weight: bold;
    }
    &__type {
        margin: 0;
        font-size: 20px;
        line-height: normal;
    }
    &__link {
        height: 30px;
    }
    &__like {
        width: 30px;
        height: 30px;
    }
    &__bottom {
        text-align: left;
    }
    &__weight, &__age {
        font-size: 24px;
        font-weight: bold;
    }
    &__age {
        margin-left: 30px;
    }
}